*/artifacts/
node_modules
test.out
/ignition/deployments/
/.deps
/.next/
/.vscode/
/public/
.env
.env.local
.env.production
*/.e
package-lock.json
run.out
tsconfig.tsbuildinfo 
lint.out
cache
artifacts
*.log
