.tradeContainer {
  transform: translate(0, 10px);
  font-weight: bold;
  width: 450px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.tradeContainerHeader {
  /* color: #20c974;  
  background-color: #8f591c; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.agent {
  position: relative;
  top:-24px;
}

.centerContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.addSponsorship {
  position: absolute;
  top: 75px;
  left: 2;
  width: 135px;
  height: 30px;
  color: rgb(163, 145, 46);
  background-color: #0E111B;
  background-color: #243056;
  text-align: center;
  vertical-align: middle;
  gap: 5px;
  font-size: 12px;
  border-radius: 12px !important;
}

.addSponsorship:hover {
  cursor: pointer;
  color: green
}

.priceInput {
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  height: 106px !important;
  margin-bottom: 5px;
  font-size: 25px;
  border-radius: 12px !important;
}

.sponsorCoinContainer {
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  height: 90px !important;
  margin-bottom: 5px;
  font-size: 25px;
  border-radius: 12px !important;
}

.rateRatioContainer {
  position: relative;
  top: 0px;
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  height: 57px !important;
  margin-bottom: 5px;
  font-size: 25px;
  border-radius: 12px !important;
}

.rateRatioContainer2 {
  position: relative;
  top: -24px;
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  height: 80px !important;
  margin-bottom: 5px;
  font-size: 25px;
  border-radius: 12px !important;
}

.assetSelect {
  position: absolute;
  top: 12px;
  min-width: 50px;
  height: 25px;
  background-color: #243056;
  /* background-color: green;
  color: yellow; */

  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.recipientSelect {
  position: absolute;
  top: 10px;
  left: 152px;
  min-width: 50px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.closeSponsorSelect {
  position: absolute;
  top: 7px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}

.closeSponsorConfig {
  position: absolute;
  top: -10px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}

.assetBalance {
  position: absolute;
  justify-content: flex-start;
  top: 70px;
  right: 20px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.sponsoredBalance {
  position: absolute;
  justify-content: flex-start;
  top: 85px;
  right: 20px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.buySell {
  position: absolute;
  justify-content: flex-start;
  top: 20px;
  left: 10px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.yourRecipient {
  position: absolute;
  top: 13px;
  left: 11px;
  font-size: 14px;
  color: #94a3b8; 
}

.recipientSelect {
  background-color: #b09e18;
  background-color: #111c7d;
  background-color: #243056;
  background-color: orange;
}

.agentSelect {
  background-color: #c65e0a;
}

.switchButton {
  position: absolute;
  top: 157px;
  left: 211px;
  width: 25px;
  height: 25px;
  color: #5F6783;
  background-color: #3a4157;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.exchangeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5981F3;
  background-color: #243056; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 5px;
  margin-top: 0px;
}

.exchangeButton:hover {
  cursor: pointer;
  color: green
}


.swapButton {
  background-color: #b6470b;
  opacity: 0.4;
  color: #653820;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}
.approveButton {
  background-color: #225a14;
  opacity: 0.4;
  color: #b3ceab;
}

.approveButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.elementLogo {
  height: 40px;
  width: 40px;
}

.elementName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.elementSymbol {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.recipientName {
  position: absolute;
  display: flex;
  top: 52px;
  left: 11px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  padding-right: 8px;
}

.lineDivider {
  position: absolute;
  top: -24px;
  left: 11px;
  color: #94a3b8;
  opacity: 0.1; 
  font-size: 14px;
}

.rewardRatio {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #94a3b8; 
  font-size: 14px;
}

.infoImg {
  position: absolute;
  top: 0px;
  left: 167px;
  cursor: pointer;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.cogImg {
  position: absolute;
  object-fit: contain;
  color: #51586f;
  transition: 0.3s;
  top: 12px;
  right: 43px;
}

.cogImg:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.sponsorRatio {
  position: absolute;
  top: -10px;
  right: 40px;
  min-width: 50px;
  height: 28px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
}

.recipientRatio {
  position: absolute;
  top: 26px;
  right: 40px;
  min-width: 50px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
}

.range-slider {
  position: absolute;
  top: 58px;
  left: 11px;
  margin-top: -20.5px;
  border: 0px;
  height: 1px;
  width: 150px;
  border-radius: 0px;
  outline-width: 0;
  background: #FFFFFF;
  cursor: pointer;
}

.agentRateFee {
  position: absolute;
  top: 60px;
  left: 10px;
  color: #94a3b8; 
  font-size: 14px;
}

.feeInfoImg {
  position: absolute;
  top: 0px;
  left: 115px;
  cursor: pointer;
}