@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: rgb(25, 33, 52) !important;
  background: rgb(25, 33, 52);
  background: linear-gradient(
    180deg,
    rgba(25, 33, 52, 1) 28%,
    rgba(7, 8, 21, 1) 75%
  );
  color: white;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background: rgb(119, 126, 142);

}

.title {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  align-items: center;
  background: rgb(102, 14, 116);
}

.mainApp {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  background: rgb(119, 126, 142);
}

footerOld {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
