.addSponsorshipDiv {
  /* display: none; */
  position: absolute;
  top: 75px;
  width: 100px;
  height: 30px;
  color: rgb(163, 145, 46);
  background-color: #0E111B;
  background-color: #243056;
  text-align: center;
  vertical-align: middle;
  gap: 5px;
  font-size: 12px;
  border-radius: 12px !important;
}

.addSponsorshipDiv:hover {
  cursor: pointer;
  color: green
}

.agent {
  position: relative;
  top:-24px;
}

.agentSelect {
  background-color: #c65e0a;
}

.agentRateFee {
  position: relative;
  top: -5px;
  left: 12px;
  color: #94a3b8; 
  font-size: 14px;
}

.approveButton {
  background-color: #225a14;
  opacity: 0.4;
  color: #b3ceab;
}

.approveButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.assetBalance {
  position: absolute;
  justify-content: flex-start;
  top: 70px;
  right: 20px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.assetSelect {
  position: absolute;
  top: 12px;
  right: 20px;
  min-width: 50px;
  height: 25px;
  background-color: #243056;
  /* background-color: green;
  color: yellow; */
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.buySell {
  position: absolute;
  justify-content: flex-start;
  top: 20px;
  left: 10px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.clearSponsorSelect {
  position: absolute;
  top: -4px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}

/* NEW
.clearSponsorSelect {
  position: absolute;
  top: 35px;
  right: 11px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}
*/

/* OLD
.clearSponsorSelect {
  position: absolute;
  top: 7px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}   
*/

.closeSponsorConfig {
  position: absolute;
  top: 0px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}

.centerContainer {
  color: #51586f;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.centerTop {
  color: #51586f;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.centerBottom {
  color: #51586f;
  position: absolute;
  width: 100%;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.cogImg {
  position: absolute;
  object-fit: contain;
  color: #51586f;
  transition: 0.3s;
/*  top: 12px; */
  right: 39px;
}

.cogImg:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.cogImg2 {
  position: absolute;
  object-fit: contain;
  color: #51586f;
  transition: 0.3s;
  top: 12px;
  right: 12px;
}

.cogImg2:hover {
  color: red;
  rotate: 360deg;
  cursor: pointer;
}

.XClose {
  position: absolute;
  font-size: 22px;
  object-fit: contain;
  color: #51586f;
  top: 324px;
  right: 11px;
}

.elementLogo {
  height: 20px;
  width: 20px;
}

.elementName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.elementSymbol {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.exchangeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5981F3;
  background-color: #243056; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 5px;
}

.errorColor {
  color: #5981F3;
  background-color: #501505; 
}

.standardColor {
  color: #5981F3;
  background-color: #243056; 
}

.executeColor {
  color: #5981F3;
  background-color: #1f3e1d; 
}

.exchangeButton:hover {
  cursor: pointer;
  color: green
}

.feeInfoCog {
  position: absolute;
  top: 0px;
  left: 115px;
  cursor: pointer;
  color: #51586f;
  transition: 0.3s;
}

.feeInfoCog:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.feeInfoCogOLD {
  top: 0px;
  left: 115px;
  cursor: pointer;
}

.feeInfoCogOLD:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.hidden{
  display: none
}

.infoImg {
  position: absolute;
  top: 5px;
  left: 167px;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lineDivider {
  position: absolute;
  top: -23px;
  left: 11px;
  color: #94a3b8;
  opacity: 0.1; 
  font-size: 14px;
}

.manageSponsorshipsDiv {
  /* display: none; */
  position: absolute;
  top: 75px;
  width: 100px;
  height: 30px;
  /* margin-left: 75px; */
  color: rgb(163, 145, 46);
  background-color: #0E111B;
  background-color: #243056;
  text-align: center;
  /* vertical-align: middle; */
  /* gap: 5px; */
  font-size: 12px;
  border-radius: 12px !important;
}

.manageSponsorshipsDiv:hover {
  cursor: pointer;
  color: green
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  /* z-index: 10; */
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

/* Popover CSS */
.popover-inner {
  min-width: 260px !important;
  min-height: 100px !important;
  border: 1px solid #21273a;
  background-color: #0e111b !important;
}


.range-slider {
  position: absolute;
  top: 65px;
  left: 11px;
  margin-top: -20.5px;
  border: 0px;
  height: 1px;
  width: 150px;
  border-radius: 0px;
  outline-width: 0;
  background: #FFFFFF;
  cursor: pointer;
}

.recipientRatio {
  position: absolute;
  top: 30px;
  right: 70px;
  min-width: 50px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
}

.rateRatioContainer {
  display : none;
  position: relative;
  top: 0px;
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  height: 57px !important;
  margin-bottom: 5px;
  font-size: 25px;
  border-radius: 12px !important;
}

.recipientPosition {
  position: absolute;
  justify-content: flex-start;
  top: 0px;
  left: 265px;
  background-color: #b09e18;
  background-color: #111c7d;
  background-color: #243056;
  background-color: orange;
}

.recipientName {
  position: absolute;
  display: flex;
  top: 47px;
  left: 10px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  padding-right: 8px;
}

.recipientName:hover {
  cursor: pointer;
  color: orange
}

.recipientSelect {
  position: absolute;
  /* top: 12px; */
  left: 160px;
  min-width: 50px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
  color: white;
  background-color: #b09e18;
  background-color: #111c7d;
  background-color: #243056;
  background-color: orange;
}

.rewardRatio {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #94a3b8; 
  font-size: 14px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.select {
  color:green;
}

.select:hover {
  color: orange;
  cursor: pointer;
}

.sponsoredBalance {
  position: absolute;
  justify-content: flex-start;
  top: 85px;
  right: 20px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.RecipientContainer {
  /* top: 100px; */

  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  height: 90px !important;
  font-size: 25px;
  border-radius: 12px !important;
}

.swapButton {
  background-color: #b6470b;
  opacity: 0.4;
  color: #653820;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.switchButton {
  position: absolute;
  top: 157px;
  left: 245px;
  width: 25px;
  height: 25px;
  color: #5F6783;
  background-color: #3a4157;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.mainSwapContainer {
  transform: translate(0px, -10px);
  font-weight: bold;
  width: 520px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.priceInputContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  /* transform: translate(0px, -10px); */

  font-weight: bold;
  background-color: #1f2639 !important;
  /* border: 2px solid #21273a; */
  min-height: 106px !important;
  border-radius: 15px;
}

.priceInput {
  width: 100%;
  text-indent: 10px;
  height: 106px !important;
  /* margin-bottom: 5px; */
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  font-size: 25px;
  border-radius: 12px !important;
}

.priceInput:focus{
  outline: none;
}

.tradeContainerHeader {
  /* color: #20c974;  
  background-color: #8f591c; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.sponsorRatio {
  position: absolute;
  top: 0px;
  right: 70px;
  min-width: 50px;
  height: 28px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 5px; */
  font-weight: bold;
  font-size: 17px;
}

.clearSponsor {
  position: absolute;
  top: 0px;
  right: 10px;
  min-width: 190px;
  height: 28px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 5px; */
  font-weight: bold;
  font-size: 17px;
}

.visible{
  display: block
}

.yourRecipient {
  position: absolute;
  top: 0px;
  left: 11px;
  font-size: 14px;
  color: #94a3b8; 
}
