.mainTradingPanel {
  display: flex;
  flex-direction: column;

  transform: translate(0px, -50px);
  font-weight: bold;
  width: 520px;
  background-color: #1b130e;
  border: 2px solid #21273a;
  min-height: 300px;
  max-height: 400px;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;  /* ensure child stays inside */
}

.addSponsorshipDiv {
  /* display: none; */
  position: absolute;
  top: 75px;
  width: 100px;
  height: 30px;
  color: rgb(163, 145, 46);
  background-color: #0E111B;
  background-color: #243056;
  text-align: center;
  vertical-align: middle;
  gap: 5px;
  font-size: 12px;
  border-radius: 12px !important;
}

.addSponsorshipDiv:hover {
  cursor: pointer;
  color: green
}

.assetBalance {
  position: absolute;
  justify-content: flex-start;
  top: 74px;
  right: 20px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.assetSelect {
  position: absolute;
  top: 12px;
  right: 20px;
  min-width: 50px;
  height: 25px;
  background-color: #243056;
  /* background-color: green;
  color: yellow; */
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.recipientSelect {
  position: absolute;
  /* top: 12px; */
  left: 160px;
  min-width: 50px;
  height: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
  color: white;
  background-color: #b09e18;
  background-color: #111c7d;
  background-color: #243056;
  background-color: orange;
}

.logoImg {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 30px;
  object-fit: contain;
  cursor: pointer;       /* ✅ cursor change on hover (can be set here instead of inline) */
}

.buySell {
  position: absolute;
  justify-content: flex-start;
  top: 20px;
  left: 10px;
  min-width: 50px;
  height: 10px;
  color: #94a3b8; 
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  padding-right: 8px;
}

.clearSponsorSelect {
  position: absolute;
  top: -4px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}

.closeSponsorConfig {
  position: absolute;
  top: 0px;
  right: 15px;
  color: #94a3b8; 
  font-size: 20px;
  cursor: pointer;
}

.centerTop {
  color: #51586f;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.centerBottom {
  color: #51586f;
  position: absolute;
  width: 100%;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.cogImg {
  position: absolute;
  object-fit: contain;
  color: #51586f;
  transition: 0.3s;
/*  top: 12px; */
  right: 39px;
}

.cogImg:hover {
  color: white;
  rotate: 360deg;
  cursor: pointer;
}

.cogImg2 {
  height: 20px;
  width: 20px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  color: #51586f;
  transition: 0.3s;
}

.cogImg2:hover {
  rotate: 360deg;
  cursor: pointer;
}

.elementLogo {
  height: 20px;
  width: 20px;
}

.elementName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.elementSymbol {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #51596f;
}

.exchangeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5981F3;
  background-color: #243056; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 5px;
}

.errorColor {
  color: #5981F3;
  background-color: #501505; 
}

.standardColor {
  color: #5981F3;
  background-color: #243056; 
}

.executeColor {
  color: #5981F3;
  background-color: #1f3e1d; 
}

.exchangeButton:hover {
  cursor: pointer;
  color: green
}

.infoImg {
  position: absolute;
  top: 5px;
  left: 167px;
  cursor: pointer;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 10px;
}

.manageSponsorshipsDiv {
  /* display: none; */
  position: absolute;
  top: 75px;
  width: 100px;
  height: 30px;
  /* margin-left: 75px; */
  color: rgb(163, 145, 46);
  background-color: #0E111B;
  background-color: #243056;
  text-align: center;
  /* vertical-align: middle; */
  /* gap: 5px; */
  font-size: 12px;
  border-radius: 12px !important;
}

.manageSponsorshipsDiv:hover {
  cursor: pointer;
  color: green
}

.range-slider {
  position: absolute;
  top: 65px;
  left: 11px;
  margin-top: -20.5px;
  border: 0px;
  height: 1px;
  width: 150px;
  border-radius: 0px;
  outline-width: 0;
  background: #FFFFFF;
  cursor: pointer;
}

.recipientRatio {
  position: absolute;
  top: 30px;
  right: 70px;
  min-width: 50px;
  height: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
}

.rewardRatio {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #94a3b8; 
  font-size: 14px;
}

.swapButton {
  background-color: #b6470b;
  opacity: 0.4;
  color: #653820;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.switchButton {
  position: absolute;
  top: 160px;
  left: 245px;
  width: 25px;
  height: 25px;
  color: #5F6783;
  background-color: #3a4157;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.mainTradingPanel {
  transform: translate(0px, -40px);
  font-weight: bold;
  width: 520px;
  background-color: #0E111B;
  border: 2px solid #21273a;
  min-height: 300px;
  max-height: 650px;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.inputs {
  position: relative;
}


.priceInput {
  padding-top: 10px;
  width: 100%;
  text-indent: 10px;
  height: 106px !important;
  /* margin-top: 5px; */
  background-color: #1f2639 !important;
  color: #94a3b8 !important;
  border-width: 0px !important;
  font-size: 25px;
  border-radius: 12px !important;
}

.priceInput:focus{
  outline: none;
}

.sponsorRatio {
  position: absolute;
  top: 0px;
  right: 70px;
  min-width: 50px;
  height: 28px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 5px; */
  font-weight: bold;
  font-size: 17px;
}

.visible{
  display: block
}

.yourRecipient {
  position: absolute;
  top: 0px;
  left: 11px;
  font-size: 14px;
  color: #94a3b8; 
}

.noBottomRadius {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.withBottomRadius {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
}

