/* File: styles\Header.module.css */

.logoImg {
  height: auto;
  width: auto;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  cursor: pointer;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}



.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: yellow;
  font-family: inherit;
  margin: 0;
}

.networkSelect {
  /* position: absolute;
  top: 10px;
  right: 160px; */
  margin-top: 0px;
  margin-left: 1px;
  margin-right: 1px;
  min-width: 50px;
  height: 40px;
  background-color: #243056;
  
  /* background-color: green;
  color: yellow; */

  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.networks {
  display: none;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 10px;
  right: 190px;

  background-color: #0E111B;
  color:lightblue;

  border-radius: 20px !important;
}

.networkLogo {

  margin-right: 190px;
}
