.bluBtn { @apply 
  rounded-full
  py-2 px-3
  uppercase
  text-xs font-bold 
  cursor-pointer
  tracking-wider
  bg-blue-300
}

.modalInputSelect {
  background-color: #243056; 
  color: #5981F3;
  border-width: 0px !important;
  height: 40px !important;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 22px !important;
}

.modalContainer{
  width: 455px;
  /* background-color: #781508; */
  background-color: #0E111B;
  border: solid #21273a;
  min-height: 10px;
  border-radius: 15px;
}

.modalBox {
  font-weight: bold;
  width: 450px;
  /* background-color: #d9e30b; */
  background-color: #0E111B;
  /* border: solid #21273a; */
  /* min-height: 300px; */
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 7px;
  /* margin: auto; */
}

.modalScrollBar {
  background-color: lightblue;
  height: 400px;
  overflow: scroll;
  padding: 10px;

  background-color: #243056; 
  color: #5981F3;
  border-width: 0px !important;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 22px !important; 

}

div.ex2 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: hidden;
}

div.ex3 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: auto;
}

div.ex4 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: clip;
}

div.ex5 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: visible;
}
